<h3>Books</h3>
<!--<p>Find me in app/views/books/index.html.erb</p>-->
<% @books.each do |book| %>

  <p>Title</p>
  <span><%= book.title %></span>

  <p>Body</p>
  <span><%= book.body %></span>

<% end %>
